

/* font-family: 'Caveat', cursive;
font-family: 'Fira Sans', sans-serif; */


*{
    margin: 0;
    border: 0;
}

/* Navbar part Started */

.navbar{
    height: 100px;
    width: 100%;
    background-color: #002366;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Fira Sans', sans-serif
}
.navbar > img{
    height: 100px;
    width: 120px;
}

.navElements{
    padding: 10px 10px;
    width: 65%;
    display: flex;
    align-items: center;
}
.navElements > p>a{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

.color-1:hover{ background-color: red;  cursor: pointer; color: white;}
.color-2:hover{ background-color: orange;  cursor: pointer; color: white;}
.color-3:hover{ background-color: #ffa500;  cursor: pointer; color: white;}
.color-4:hover{ background-color: green;  cursor: pointer; color: white;}
.color-5:hover{ background-color: rgb(37, 178, 234);  cursor: pointer; color: white;}
.color-6:hover{ background-color: purple;  cursor: pointer; color: white;}
.color-7:hover{ background-color: rgb(223, 91, 113);  cursor: pointer; color: white;}

.navElements > i{
    margin-right: 3%;
}

/* Navbar part completed */




/* Slidebar part started */

.slidebar{
    height: 500px;
    width: 100%;
    border: 1px solid red;
}
.slidebar>h1{
    margin : 200px 200px;
}

/* Slidebar part completed */




/* section_3 photoDiv part started */

.photosDiv{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 700px;
    width: 98%;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 1%;
    border: 1px solid red;
}

.line1{border: 2px solid #6f2c91;}
.line2{border: 2px solid #ec008c;}
.line3{border: 2px solid #0071bc;}

.photoDivItem{
    width: 33%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.photoDivItem > img{
    height: 300px;
    width: 100%;
}

.photoDivItem > h1{
    padding: 10px;
    font-weight: 400;
    margin-top: 20px;
    font-family: 'Caveat', cursive;
}

.symbol{
    font-size: 40px;
    font-weight: bold;
}
.photoDivItem > p{
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: 16px;
    line-height: 0.5cm;
    color: #83888c;
    padding: 10px;
    font-family: 'Fira Sans', sans-serif;
}

.color-8{ color: #6f2c91;}
.color-9{ color: #ec008c;}
.color-10{ color: #0071bc;}

.photoDivItem > button{
    padding: 15px 25px;
    border-radius: 60px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-family: 'Caveat', cursive;
}
.button_1{background-color: #6f2c91;}
.button_2{background-color: #ec008c;}
.button_3{background-color: #0071bc;}

.button_1:hover{border: 2px solid #6f2c91; cursor: pointer; color: #6f2c91; background-color: white;}
.button_2:hover{border: 2px solid #ec008c; cursor: pointer; color: #ec008c; background-color: white;}
.button_3:hover{border: 2px solid #0071bc; cursor: pointer; color: #0071bc; background-color: white;}

/* section_3 photoDiv part ended */


.empty{
    border: 1px solid purple;
    height: 600px;
    width: 100%;
    position: relative;
}




/* section_4 photoDiv2 part Started */

.photoDiv2{
    border: 1px solid green;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

.photoDiv2Item{
    border: 1px solid red;
    width: 25%;
    height: 100%;
    background-image: url(http://rainbowtheschool.com/images/hc1.jpg);
}

.photoDiv2Item > img{
   width: 100%;
   height: 100%;
    /* position: relative; */
}

.photoDiv2Item > h1{
    font-family: 'Caveat', cursive;
    position: absolute;
    
}

/* section_4 photoDiv2 part ended */